*.suo
*.dll
*.pdb
*.cache
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarController/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarController/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarController/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarXWT/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarXWT/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarXWT/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarController/obj/Debug/ownCloudCalendarController.csproj.FileListAbsolute.txt
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/ownCloudCalendarGUI.exe
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/ownCloudCalendarGUI.exe.config
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/ownCloudCalendarGUI.vshost.exe
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/ownCloudCalendarGUI.vshost.exe.manifest
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/obj/Debug/ownCloudCalendarGUI.Properties.Resources.resources
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/obj/Debug/ownCloudCalendarGUI.SyncCalendar.resources
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/ownCloudCalendarGUI.vshost.exe.config
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/System.Net.Http.Extensions.xml
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/System.Web.WebPages.Razor.xml
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/System.Web.Razor.xml
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/System.Web.Helpers.xml
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/System.Net.Http.Primitives.xml
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/System.Web.WebPages.Deployment.xml
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/bin/Debug/System.Web.WebPages.xml
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/obj/Debug/ownCloudCalendarGUI.csproj.App.config
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarXWT/obj/Debug/ownCloudCalendarXWT.exe
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarXWT/obj/Debug/ownCloudCalendarXWT.csproj.FileListAbsolute.txt
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarXWT/bin/Debug/ownCloudCalendarXWT.vshost.exe.manifest
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarXWT/bin/Debug/ownCloudCalendarXWT.vshost.exe.config
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarXWT/bin/Debug/ownCloudCalendarXWT.vshost.exe
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarXWT/bin/Debug/ownCloudCalendarXWT.exe.config
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarXWT/bin/Debug/ownCloudCalendarXWT.exe
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarShared/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarShared/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarShared/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/obj/Debug/ownCloudCalendarGUI.csproj.FileListAbsolute.txt
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/obj/Debug/ownCloudCalendarGUI.EventsList.resources
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/obj/Debug/ownCloudCalendarGUI.LogIn.resources
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarShared/obj/Debug/ownCloudCalendarShared.csproj.FileListAbsolute.txt
ownCloudCalendarProject/ownCloudCalendar/ownCloudCalendarGUI/obj/Debug/ownCloudCalendarGUI.exe